<div class="px-2 py-2 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../assets/logo.png" style="width: 30%;" alt="">
    <h1 class="display-5 fw-bold text-body-emphasis">To-do List</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Ce projet a été conçu pour explorer les fonctionnalités d'Angular 17, un framework JavaScript populaire pour le développement d'applications web modernes. Au cours de ce projet, j'ai également eu l'occasion de découvrir InMemoryDataWebApi, une bibliothèque Angular qui permet de simuler un backend API en mémoire.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" href="/task" class="btn btn-primary btn-lg px-4 gap-3">Découvrir le projet</a>
        <a type="button" href="https://saimoen.netlify.app/" class="btn btn-outline-secondary btn-lg px-4">Voir mon portfolio</a>
      </div>
    </div>
  </div>